

body {
    text-align: left;
    background-color: #262626;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

h1 {
    font-family: Orbitron,  Times, serif;
    
    font-size: 70px;
    
}
p {
    font-size: 20px;
}


.block {
    border: 1px solid rgba(192, 191, 191, 0.116);
    width: 5px;
    height: 5px;
    float: left;    
}
.block:hover {
    box-shadow: 0px 1px 1px 1px rgba(0, 255, 217, 0.829);
}
.container {
    margin: auto;
    width: 300px;
    height: 300px;
}

.description {
    color: #262626;
    display: block;
    padding: 5% 7%;
    
}

.wrapper{
    display: flex;
    height: 100vh;
    min-height: 850px;
}
.leftPane {
    flex: column;
    width: 30%;
    min-width: 500px;
    height: 100%;
    color: #262626;
    background-color: #B29013;
}
.grid {
    display: flex;
    justify-content: center;
    width: 100%;
}

.widtAndHeight {
    font-size: 20px;
    text-align: left;
    display: block;
    padding: 2% 7%;
}
.addCount {
    cursor: pointer;
    display: inline;
    outline: none;
}
#heightLabel, #widthLabel, #heightCounter, #widthCounter {
    cursor: default;
}
#input_width {
    margin-left: 8px;
}
/* buttons */
.textPosition {
    display: block;
    padding: 3% 7%;
    
}
.gridder {
    /* font */
    color: #FFC801;
    font-size: 20px;
    font-family: Orbitron;
    
    /* remove blue underline */
    text-decoration: none;
    
    /* border */
    border: 1px solid #FFC801;
    border-radius: 10px;
    
    /* transitions */
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .2s;
    
    /* other */
    background-color: #262626;
    padding: 2% 35%;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 5%;
    outline: none;
  }
  
  .gridder:hover {
    /* update text color and background color */
    color: #262626;
    background-color: #FFC801;
    
     /* transitions */
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .2s;
  }
  
  button.gridder {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .colorPickerDiv {
      margin-top: 5%;

  }

  #colorPicker {
      display: block;
      margin: 5% 7%;
  }